*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 50px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

img{
    height: 110px
}

.to-do-img{
    padding: 0px 50px;
}

.inputs{
    align-content: center;
    justify-content: center;
    align-items: center;
}

.mag-search{
    height: 50px;
   
}

input{
    size: 35px;
}